.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin-top: 3%;
}

.login-panel p {
    font-size: 20px;
}

.login-panel input {
    font-size: 18px;
    height: 28px;
    margin-left: 2px;
    margin-right: 2px;
    width: 250px;
    border: 2px solid #3b4da3;
    border-radius: 6px;
}

.btn-login {
    font-size: 20px;
    height: 38px;
    width: 120px;
    border-radius: 6px;
    border: none;
    background-color: #3b4da3;
    color: white;
    margin-top: 40px;
}

.btn-login:active {
    background-color: white;
    border: 2px solid #3b4da3;
    color: #3b4da3;
}

.btn-login:hover {
    cursor: pointer;
    opacity: 0.89;
}