.modalContainerReserve {
    width: 60%;
    height: fit-content;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 100;
}

.titleReserve {
    display: inline-block;
    text-align: center;
}

.titleReserve h1 {
    padding: 0;
    margin: 0 0 10px 0;
}

.modalContainerReserve .body {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

.modalContainerReserve .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainerReserve .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.reserve-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modalInputReserve {
    width: 48%;
    height: fit-content;
    padding: 15px 0;
}

.modalInputReserve label {
    padding: 6px 0;
    /*margin-left: -4px;*/
}

.modalInputReserve input:not(.extend-input) {
    font-size: 16px;
    width: 95%;
    height: 32px;
    border: 2px solid #3b4da3;
    border-radius: 6px;
    margin-top: 8px;
    /*margin-left: -4px;*/
}

.modalInputReserveSmall {
    width: 23.5%;
    height: fit-content;
    padding: 15px 0;
}

.modalInputReserveSmall input {
    font-size: 16px;
    width: 90%;
    height: 32px;
    border: 2px solid #3b4da3;
    border-radius: 6px;
    margin-top: 8px;
    /*margin-left: -4px;*/
}

.modalInputReserveComment {
    width: 98%;
    height: fit-content;
    padding: 15px 0;
}

.modalInputReserveComment textarea {
    border: 2px solid #3b4da3;
    border-radius: 6px;
    width: 90%;
    margin-top: 8px;
    /*height: ;*/
}

.modalInputReserveLocation {
    width: 98%;
    height: fit-content;
    padding: 15px 0;
}

