.block {
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.sidebar-btn {
    display: inline-block;
    border: 2px solid #3b4da3;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 60%;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #3b4da3;
    color: white;
    font-size: 102%;
    /*font-family: 'Open Sans', regular;*/
    font-family: 'Roboto Mono', monospace;
}

.sidebar-btn:active {
    background-color: white;
    color: #3b4da3;
}

.sidebar-btn:hover {
    opacity: 0.89;
}