@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

.block {
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.sidebar-btn {
    display: inline-block;
    border: 2px solid #3b4da3;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 200px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #3b4da3;
    color: white;
    font-family: 'Open Sans', regular;
}

.sidebar-btn:active {
    background-color: white;
    color: #3b4da3;
}

.sidebar-btn:hover {
    opacity: 0.89;
}