/*.dispatch-container {*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    */
/*}*/

.dispatch-container-form {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

.dispatch-input-field {
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 15px;
}

.dispatch-input-field input {
    font-size: 18px;
    width: 97%;
    height: 35px;
    border: 2px solid #3b4da3;
    border-radius: 6px;
    margin-top: 15px;
}

.dispatch-input-field label {
    font-size: 18px;
    font-weight: bold;
}

.dispatch-btn {
    margin-top: 35px;
}

.dispatch-btn button {
    font-size: 18px;
    width: 200px;
    height: 45px;
    border: none;
    color: white;
    border-radius: 6px;
    background-color: #3b4da3;
}

.dispatch-btn button:hover {
    cursor: pointer;
    opacity: 0.89;
}

.dispatch-btn button:active {
    color: #3b4da3;
    background-color: white;
    border: 2px solid #3b4da3;
}