/*.prices {*/

/*}*/

.prices-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choice-description {
    margin-bottom: 30px;
    font-size: 20px;
}

.price-blocks {
    width: 96%;
    display: flex;
    float: left;
}

.price-block {
    /*position: relative;*/
    /*box-sizing: content-box;*/
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    background-color: #d9d9d9;
    height: 220px;
    /*width: 22%;*/
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: width 0.2s;
    overflow-y: auto;
}

.wire-block {
    width: 22%;
}

.price-block:not(.wire-block) {
    width: 0;
    visibility: hidden;
}

.arrow-block {
    visibility: hidden;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.2s;
}

.price-block input {
    /*box-sizing: border-box;*/
    /*background-color: red;*/
}

/*.price-unit:first-child {*/
/*    margin-top: 75px;*/
/*    margin-bottom: 2px;*/
/*    transition: all 0.15s;*/
/*}*/

/*.price-unit:last-child {*/
/*    margin-top: 2px;*/
/*    margin-bottom: 10px;*/
/*    transition: all 0.15s;*/
/*}*/

.price-unit {
    /*margin-top: 2px;*/
    /*margin-bottom: 2px;*/
    transition: all 0.15s;
}

.price-unit:hover:not(.chosen) {
    color: white;
    font-weight: bold;
}

.chosen {
    font-weight: bold;
    color: #3b4da3;
    /*box-shadow: 0 0 5px 5px #3b4da3;*/
}

.count-btn button {
    width: 150px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: #3b4da3;
    color: white;
    font-size: 20px;
}

.count-btn button:hover {
    opacity: 0.89;
    cursor: pointer;
}

.count-btn button:active {
    color: #3b4da3;
    background-color: white;
    border: 2px solid #3b4da3;
}

.price-admin-btn {
    margin-top: 30px;
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 6px;
    background-color: #3b4da3;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.price-admin-btn:hover {
    opacity: 0.89;
}

.price-admin-btn:active {
    color: #3b4da3;
    background-color: white;
    border: 2px solid #3b4da3;
}

.price-block-input {
    width: 200px;
    height: 25px;
    border-radius: 6px;
    border: 2px solid #3b4da3;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}